body {
  height: 100%;
  width: 100%;
  margin:0 auto;
  font-family: helvetica;
  text-align: center;
}

body img {
  margin: 0 auto;
}
nav {
  //margin-top: .5em;
  border-bottom: solid 1px #D7D7D7;
  border-top: solid 1px #D7D7D7;
  background-color: #F9F7F7;
  color: #AEAEAE;
  text-align: right;
  margin-bottom: 1%;
  padding-top: .5em;
  padding-bottom: .5em;
}

#nav-break:hover {
  color: #AEAEAE;
}

nav a {
  text-decoration: none;
  color: #AEAEAE;
  padding: .5em;
  margin-top: 1em;
}

nav a:hover {
  color: #5A81AD;
}

.display {
  box-shadow: 2px 2px 9px grey;
}

.nav-wrapper {
  margin-right: 5em;
}
